TipCalc/.idea
TipCalc/Mvx.TipCalc.UnitTest/bin
TipCalc/Mvx.TipCalc.UnitTest/obj
TipCalc/packages
TipCalc/Mvx.TipCalc.sln.DotSettings.user
TipCalc/Mvx.TipCalc.Core/bin
TipCalc/Mvx.TipCalc.Core/obj
TipCalc/Mvx.TipCalc.Droid/obj
